
<div style="display:flex; justify-content:flex-end; padding:10px;">
  <button (click)="logout()" class="btn btn-outline-danger">Odjavi se</button>
</div>

<button class="btn btn-primary" routerLink="/employee/hall/hall-list">Hall list</button>
<button class="btn btn-success" routerLink="/employee/hall/hall-add">Add hall</button>

<button class="btnn btn-primary" routerLink="/employee/fault/fault-list">Fault list</button>
<button class="btnn btn-success" routerLink="/employee/fault/fault-add">Add fault</button>

<button class="btnnn btn-primary" routerLink="/employee/equipment/equipment-list">Equipment list</button>
<button class="btnnn btn-success" routerLink="/employee/equipment/equipment-add">Add equipment</button>

<button class="btnnnn btn-primary" routerLink="/employee/chat/chat-component">Chat</button>

<router-outlet></router-outlet>