
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Initial hidden state of the element */
[appAnimateOnScroll] {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

/* When the directive triggers */
.is-visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
